*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color:  #f7f7f7 ;
}
header{
    width: 100vw;
    display: flex;
    padding: 1rem 1rem;
}
.first-block{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    width: 40%;
}
.list{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#ham{
    width: 30px;
    height: 30px;
}
#ham>img{
    width: 100%;
    height: 100%;
}
.items{
    list-style: none;
}
.items>a{
    text-decoration: none;
    color: #455A64;
    position: relative;
}
nav{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.logo{
    color: #703E78;
    font-size: 1.7rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    /* text-align: left; */
}

.ham-btn{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.items>a::after, .active::after{
    transition: all .3s ease-in-out;
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background-color: #455A64;
    position: absolute;
    top: 100%;
}

.active::after{
    width: 100% !important;
}

.items>a:hover::after{
    width: 100%;
}

.ham-btn:hover{
    transform: scale(1.1);
}


/* section 1 */
.welcome{
    display: flex;
    width: 100%;
    padding: 1rem;
}

.left-box, .right-box{
    color: #703E78;
    width: 50%;
}

.left-box{
    display: flex;
    justify-content: center;
}

.left-box>img{
    max-width: 100%;
    max-height: 80vh;
}

.social-links, .social-links>img{
    width: 30px;
}

.right-head{
    font-size: 2rem;
    margin: 1.5rem 0;
}
.right-info{
    color: #455A64;
}
.right-box{
    line-height: 2rem;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.social-links{
    margin-right: 1rem;
}

.socials{
    margin: 1rem 0;
}
.socials a{
    text-decoration: none;
}
.social-img{
    transition: transform ease .3s;
}
.social-img:hover{
    transform: scale(1.3);
}

/* section2 */

.about-section, .awards{
    padding: 2rem;
    background-color: #fff;
    line-height: 2rem;
}

.section-title{
    color: #703E78;
    text-align: center;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-txt{
    color: #455A64;
    text-indent: 2rem;
}

.list-area{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list-box{
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
}

.inner-head{
    color: #703E78;
}

.inner-list{
    color: #455A64;
    padding-left: 1.5rem;
}

/* section3 */
.activity{
    padding: 2rem;
}

.activity-items{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    gap: 2rem;
}

.activity-img{
    width: 100%;
    height: 200px;
    border-radius: .25rem;
    border: 1px solid #455A64;
}


/* contact section  */
.contact-section{
    padding: 2rem;
    background-color: #455A64;
    line-height: 2rem;
}

.address-box, .form-box{
    color: #fff;
    width: 50%;
}
.form-in-head{
    text-align: center;
}

.contact-form{
    padding: 0 2rem;
}

.form-control{
    width: 100%;
    resize: none;
    color: #455A64;
    padding: .25rem .25rem;
    margin: .25rem 0;
    font-size: 16px;
    border-radius: .25rem;
    border: none;
}
.btn-submit{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: .25rem;
    padding: .5rem 1rem;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: all .3s ease;
}
.btn-submit:hover{
    background-color: #fff;
    color: #455A64;
}

/* footer  */
footer{
    background-color: #431d48;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


@media all and (max-width: 768px) {
    header{
        flex-direction: column;
    }
    .ham-btn{
        display: block;
    }
    .first-block{
        width: 100%;
    }
    .list{
        flex-direction: column;
        margin-top: .5rem;
    }
    .items{
        margin: .5rem;
    }
    nav{
        height: 200px;
        transition: .2s ease-in-out height;
        overflow: hidden;
        background-color: #fff;
    }
    .close{
        height: 0;
    }
    .logo{
    text-align: left;
    }

    .welcome{
        flex-direction: column;
    }

    .left-box, .right-box{
        width: 100%;
    }
    .right-box{
        padding: 0;
    }
    .right-head{
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    .right-info{
        font-size: 14px;
    }
    .form-box, .address-box{
        width: 100%;
    }
}